[Unit]
Description=glimpse-monitor

[Service]
ExecStart=/usr/local/bin/glimpse-monitor
Type=oneshot
RemainAfterExit=yes

[Timer]
OnCalendar=daily
AccuracySec=1h

[Install]
WantedBy=multi-user.target