[Unit]
Description=File change monitor for Glimpse
After=network.target

[Service]
ExecStart=/usr/local/bin/glimpse-monitor
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
