[Unit]
Description=glimpse-indexer

[Service]
ExecStart=/home/jasper/dev/glimpse/target/release/glimpse-indexer
Type=oneshot
RemainAfterExit=yes

[Timer]
OnCalendar=daily
AccuracySec=1h

[Install]
WantedBy=multi-user.target